<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class="pt-3 pl-0 ">
          <div class=" navbar-collapse" [ngbCollapse]="isCollapsed" id="navigation">
            <li class="search-bar input-group">
              <button class=" btn btn-link" data-target="#searchModal" data-toggle="modal" (click)="open(content)"
                id="search-button">
                <i class=" tim-icons icon-zoom-split"> </i>
              </button>
            </li>
          </div>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class="table table-striped" id="">
              <thead class=" text-primary">
                <tr>
                  <th>#</th>
                  <th>Descrição</th>

                  <th class="text-center">Aprovado</th>
                  <th class=" text-center">Enviado</th>
                  <th class=" text-center">Campanha</th>
                  <th class=" text-center">Data do Disparo</th>
                  <th class=" text-center">Data de Aprovação</th>
                  <th class=" text-center">Ações</th>

                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let message of messages | filter:searchText; let id = index">
                  <td>{{message.id}}</td>
                  <td>{{message.description}}</td>

                  <td class=" text-center">{{message.approval.isApproval}}</td>
                  <td class=" text-center">{{message.isSend}}</td>
                  <td class=" text-center">{{message.campaign.name}}</td>
                  <td class=" text-center">{{message.dateTrigger}}</td>
                  <td class=" text-center">{{message.approval.dateApproval}}</td>

                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" class="btn btn-info btn-sm btn-icon"
                      (click)="showModalEdit(message.id)">
                      <i class="tim-icons icon-pencil"></i>
                    </button>

                    <button type="button" rel="tooltip" class="btn btn-success btn-sm btn-icon"
                      data-target="#modalSendMessage" (click)="showModalSend(message.id)">
                      <i class="tim-icons icon-send"></i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-icon"
                      data-target="#modalDisapproval" (click)="showModalDisapproval(message.id)">
                      <i class="tim-icons icon-simple-remove"></i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-primary btn-sm btn-icon"
                      data-target="#modalConfirmApproval" (click)="showModalApproval(message.id)">
                      <i class="tim-icons icon-check-2"></i>
                    </button>
                    <button type="button" rel="tooltip" class="btn btn-warning btn-sm btn-icon"
                      data-target="#modalDetails" (click)="showModalDetails(message.id)">
                      <i class="tim-icons icon-align-center"></i>
                    </button>


                  </td>

                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--modal confirmApproval-->
<div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-mini modal-primary modal-mini"
  #modalConfirmApproval="bs-modal" id="modalConfirmApproval" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="modalConfirmApproval.hide()"
          type="button">
          <i class="tim-icons icon-simple-remove text-white"> </i>
        </button>
        <div class="modal-profile">
          <i class="tim-icons icon-single-02"> </i>
        </div>
      </div>
      <div class="modal-body">
        <p>Tem Certeza que deseja aprovar está campanha?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-link btn-neutral" (click)="approval(this.editLine.approval)" type="button">Ok</button>
        <button class="btn btn-link btn-neutral" data-dismiss="modal" type="button"
          (click)="modalConfirmApproval.hide()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>


<!--modal confirmSend-->
<div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-mini modal-info modal-mini"
  #modalSendMessage="bs-modal" id="modalSendMessage" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="modalSendMessage.hide()" type="button">
          <i class="tim-icons icon-simple-remove text-white"> </i>
        </button>
        <div class="modal-profile">
          <i class="tim-icons icon-single-02"> </i>
        </div>
      </div>
      <div class="modal-body">
        <p>Tem Certeza que deseja efetuar o disparo desta campanha?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-link btn-neutral" (click)="sendMessage()" type="button">Ok</button>
        <button class="btn btn-link btn-neutral" data-dismiss="modal" type="button" (click)="modalSendMessage.hide()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!--modal cancelSend-->
<div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-mini modal-danger modal-mini"
  #modalDisapproval="bs-modal" id="modalDisapproval" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="modalDisapproval.hide()" type="button">
          <i class="tim-icons icon-simple-remove text-white"> </i>
        </button>
        <div class="modal-profile">
          <i class="tim-icons icon-single-02"> </i>
        </div>
      </div>
      <div class="modal-body">
        <p>Tem Certeza que deseja cancelar o disparo desta campanha?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-link btn-neutral" (click)="disapproval(this.editLine.approval)" type="button">Ok</button>
        <button class="btn btn-link btn-neutral" data-dismiss="modal" type="button" (click)="modalDisapproval.hide()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!--modal form Edit-->
<div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black" #modalEdit="bs-modal"
  id="modalEdit" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class=" card">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="closeModalEdit()" type="button">
          <i class="tim-icons icon-simple-remove text-white"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="text-center text-muted mb-0">Editar</h3>
          <h4 class="text-center text-muted mb-0">#{{this.editLine.id}}</h4>

        </div>
      </div>
      <div class="modal-body">
       
        <div class="text-center text-muted mb-4">
          <small> Editar campanha de sms </small>
        </div>
        <div class=" card-body">
        <form [formGroup]="formEdit" role="form">
          <div class="form-group mb-3">
            <div class="input-group input-group-alternative" [ngClass]="{'input-group-focus':focusPhone===true}">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="tim-icons icon-email-85"> </i>
                </span>
              </div>
              <input class="form-control" placeholder="Telefone" type="text" (focus)="focusPhone=true"
                (blur)="focusPhone=false" id="editFormPhone" formControlName="phone"
                value="{{this.editLine.phone}}" />
            </div>
          </div>
          <div class="form-group mb-3">
            <div class="input-group input-group-alternative" [ngClass]="{'input-group-focus':focusMessage===true}">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="tim-icons icon-email-85"> </i>
                </span>
              </div>
              <input class="form-control" id="editFormMessage" formControlName="message" placeholder="Mensagem"
                type="text" value="{{this.editLine.message}}" (focus)="focusMessage=true"
                (blur)="focusMessage=false" />
            </div>
          </div>

          <div class="form-group mb-3">

            <div class="input-group input-group-alternative" [ngClass]="{'input-group-focus':focusDateSend===true}">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="tim-icons icon-email-85"> </i>
                </span>
              </div>
              <input type="text" placeholder="Data de Envio" class="form-control" bsDatepicker
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,adaptivePosition: true,isAnimated: true, containerClass: 'theme-red' }"
                (focus)="focusDateSend=true" (blur)="focusDateSend=false" id="editFormDateSend"
                formControlName="dateSend" value="this.editLine.dateSend">

            </div>
          </div>
          <div class="form-group mb-3">

            <div class="input-group input-group-alternative" [ngClass]="{'input-group-focus':focusDateTrigger===true}">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="tim-icons icon-email-85"> </i>
                </span>
              </div>
              <input type="text" placeholder="Data de Disparo" class="form-control" bsDatepicker
                #editFormDateTrigger="bsDatepicker"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,adaptivePosition: true,isAnimated: true, containerClass: 'theme-red' }"
                (focus)="focusDateTrigger=true" (blur)="focusDateTrigger=false" id="editFormDateTrigger"
                formControlName="dateTrigger" value="this.editLine.dateTrigger">

            </div>
          </div>
          <div class="form-group mb-3">

            <div class="input-group input-group-alternative" [ngClass]="{'input-group-focus':focusDateApproval===true}">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="tim-icons icon-email-85"> </i>
                </span>
              </div>
              <input type="text" placeholder="Data de aprovação" class="form-control" bsDatepicker
                #editFormDateApproval="bsDatepicker"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' ,adaptivePosition: true,isAnimated: true, containerClass: 'theme-red' }"
                (focus)="focusDateApproval=true" (blur)="focusDateApproval=false" id="editFormDateApproval"
                formControlName="dateApproval" value="this.editLine.approval.dateApproval">

            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative" [ngClass]="{'input-group-focus':focusDescription===true}">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="tim-icons icon-key-25"> </i>
                </span>
              </div>
              <input class="form-control" placeholder="Descrição" type="text" (focus)="focusDescription=true"
                (blur)="focusDescription=false" id="editFormDescription" formControlName="description"
                value="{{this.editLine.description}}" />
            </div>
          </div>
          <div class="form-group mb-2">
            <div class="input-group input-group-alternative" [ngClass]="{'input-group-focus':focusApproval===true}">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="tim-icons icon-email-85"> </i>
                </span>
              </div>
              <input class="form-control" formControlName="approver" placeholder="Aprovador" type="text"
                (focus)="focusApproval=true" (blur)="focusApproval=false" id="editFormApproval"
                value="{{this.editLine.approval.approver}}" />

            </div>

          </div>
          <!--Dropdown-->
          <div ngbDropdown class="btn-group" placement="top-left">
            <button type="button" class="btn btn-secondary btn-sm">{{valueSelectedDropDownCampaign}}</button>
            <button class="btn btn-secondary dropdown-toggle-split" id="dropdownBasic2" ngbDropdownToggle></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <button *ngFor="let campaign of campaigns" (click)="changeValueDrowpDown(campaign)"
                ngbDropdownItem>{{campaign.name=='empty'?'Nenhum':campaign.name}}</button>
            </div>
          </div>
          <div>
            <small class="text-muted">Selecione a campanha de sms</small>
          </div>
          <!--Dropdown-->
          <!--Check box-->
          <div class="form-check mt-3">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" formControlName="isSend" id="editFormIsSend"
                  value="{{this.editLine.isSend}}"> Enviado
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" formControlName="isApproval" id="editFormIsApproval"
                  value="{{this.editLine.approval.isApproval}}"> Aprovado
                <span class="form-check-sign"></span>
              </label>
            </div>
            <!--Check box-->
          </div>

          <div class="text-center">
            <button class="btn btn-primary my-4" type="button" (click)="update()">
              Atualizar
            </button>
          </div>
        </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<!--modal Details-->
<div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black" #modalDetails="bs-modal"
  id="modalDetails" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button aria-hidden="true" class="close" data-dismiss="modal" (click)="modalDetails.hide()" type="button">
          <i class="tim-icons icon-simple-remove text-white"> </i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Detalhes</h3>
          <h4 class="mb-0">#{{this.editLine.id}}</h4>
        </div>
      </div>
      <div class="modal-body">
        <div class="text-center text-muted mb-4">
          <small> Detalhes da campanha de sms </small>
        </div>
        <form role="form">
          <div class="form-group mb-3">
            <div class=" typography-line">
              <h6><span>Telefone: </span></h6>
              <p>{{this.editLine.phone}}</p>
            </div>
          </div>
          <div class="form-group mb-3">
            <div class=" typography-line">
              <h6><span>Mensagem: </span></h6>
              <p>{{this.editLine.message}}</p>
            </div>
          </div>
          <div class="form-group mb-3">
            <div class=" typography-line">
              <h6><span>Data do Envio: </span></h6>
              <p>{{this.editLine.dateSend}}</p>
            </div>
          </div>
          <div class="form-group mb-3">
            <div class=" typography-line">
              <h6><span>Data do Disparo: </span></h6>
              <p>{{this.editLine.dateTrigger}}</p>
            </div>
          </div>
          <div class="form-group mb-3">
            <div class=" typography-line">
              <h6><span>Data de Aprovação: </span></h6>
              <p>{{this.editLine.approval.dateApproval}}</p>
            </div>
          </div>
          <div class="form-group">
            <div class=" typography-line">
              <h6><span>Descricão: </span></h6>
              <p>{{this.editLine.description}}</p>
            </div>
          </div>
          <div class="form-group">
            <div class=" typography-line">
              <h6><span>Aprovador: </span></h6>
              <p>{{this.editLine.approval.approver}}</p>
            </div>
          </div>
          <div class="form-group">
            <div class=" typography-line">
              <h6><span>Campanha: </span></h6>
            </div>
          </div>
              <!--Dropdown-->
              <div ngbDropdown class="btn-group" placement="top-left">
                <button type="button" class="btn btn-secondary btn-sm">{{valueSelectedDropDownCampaign}}</button>
                <button class="btn btn-secondary dropdown-toggle-split" id="dropdownBasic2" disabled
                  ngbDropdownToggle></button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                </div>
              </div>
              <!--Dropdown-->
           
          <!--Check box-->
          <div class="form-check mt-3">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                  value="{{this.editLine.isSend}}" [checked]="this.editLine.isSend" disabled> Enviado
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                  value="{{this.editLine.approval.isApproval}}" [checked]="this.editLine.approval.isApproval" disabled> Aprovado
                <span class="form-check-sign"></span>
              </label>
            </div>
          </div>
          <!--Check box-->
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class=" modal-header">
    <input class=" form-control" id="inlineFormInputGroup" placeholder="Procurar" type="text"
      [(ngModel)]="searchText" />
    <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="modal.dismiss('Cross click')">
      <i class=" tim-icons icon-simple-remove"> </i>
    </button>
  </div>

</ng-template>