<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class="pt-3 pl-0 ">
          <div class=" navbar-collapse" [ngbCollapse]="isCollapsed" id="navigation">
            <li class="search-bar input-group">
              <button class=" btn btn-link" data-target="#searchModal" data-toggle="modal" (click)="open(content)"
                id="search-button">
                <i class=" tim-icons icon-zoom-split"> </i>
              </button>
            </li>
          </div>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class="table table-striped" id="">
              <thead class=" text-primary">
                <tr>
                  <th>#</th>
                  <th>Nome</th>
                  <th class="text-center">Tipo</th>
                 
                  

                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let campaign of campaigns | filter:searchText; let id = index">
                  <td>{{campaign.id}}</td>
                  <td>{{campaign.name}}</td>

                  <td class=" text-center">{{campaign.type}}</td>
                  
  

                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<ng-template #content let-modal>
  <div class=" modal-header">
    <input class=" form-control" id="inlineFormInputGroup" placeholder="Procurar" type="text"
      [(ngModel)]="searchText" />
    <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="modal.dismiss('Cross click')">
      <i class=" tim-icons icon-simple-remove"> </i>
    </button>
  </div>

</ng-template>